*{
    margin: 0;
}

body{
    background-color: #003366;    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    font-family: Arial, Helvetica, sans-serif;
}

#principal{
    width: 1000px; 
    height: 550px;  
    background-image: url(../img/background.jpg);  

    display: flex;
    align-items: center;
}

#conteudo{
    width: 340px;
    margin-left: 50px;    
}

h1{
    color: #333333;      
    margin-top: 35px;  
    font-size: 40px;
}

p, label{
    color: #666666;
}

form{
    margin-top: 24px;
    margin-bottom: 35px;    
}

input{
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 3px;
}

button{
    background-color: #003366;
    color: #ffffff;    
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #FF3131;    
    border: 2px solid #003366;
}

a{
    color: #003366;    
}

a:hover{
    color: #FF3131;
}

#resposta{
    margin-bottom: 10px
}